html, body, div, nav, ul, li, h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #000000;
}


/* ---------------------------------- Menu ---------------------------------- */

.menu-container {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-y: hidden;
  transition: 0.5s;
}

.burger_close {
  position: absolute;
  vertical-align: middle;
  top: 21px;
  right: 40px;
  cursor: pointer;
  z-index: 10;
}

.menu-content {
  position: relative;
  top: 8%;
  width: 560px;
  text-align: center;
  margin: 30px auto;
  /* border: 1px solid white; */
  color: #ffffff;
}

/* Change Tokens & Change Grid  & Play Mode */

.menu-content h2 {
  margin-bottom: 20px;
}

.flex-item-token,
.flex-item-grid {
  width: 260px;
  height: 100px;
  background-color: #171717;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  line-height: 96px;
  border-radius: 20px;
  border:2px solid #171717;
}

.flex-item-mode {
  width: 165px;
  height: 100px;
  background-color: #171717;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  line-height: 96px;
  border-radius: 20px;
  border:2px solid #171717;
}

.flex-item-token img {
  vertical-align: middle;
}

.token-set-one, .token-set-two {
  box-sizing: border-box;
}

.token-set-one:hover,
.token-set-two:hover {
  background-color: #292929;
}

.grid-one:hover,
.grid-two:hover {
  background-color: #292929;
}

.mode-one:hover,
.mode-two:hover,
.mode-three:hover {
  background-color: #292929;
}

.set-selected {
  border-color: #ffffff;
}

.token-select-container,
.grid-select-container,
.mode-select-container {
  margin-bottom: 40px;
}


/* New Game */

.new-game {
  margin-top: 40px;
}

.new-game-button {
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  line-height: 20px;
  border-radius: 10px;
  border: 2px solid #171717;
  outline: none;
  background-color: #171717;
  color: #ffffff;
  cursor: pointer;
}

.new-game-button:hover {
  border-color:  #ffffff;
  background-color: #292929;
}

/* ------------------------------- Navigation ------------------------------- */

.nav {
  background-color: #171717;
  height: 80px;
  color: white;
  position: relative;
  line-height: 80px;
}

.nav-left img {
  line-height: 80px;
  vertical-align: middle;
}

.nav-left {
  position: absolute;
  left: 0;
  margin-left: 40px;
}

.message {
  color: #ffffff;
}

.nav-right {
  position: absolute;
  right: 0;
  margin-right: 40px;
}

.restart {
  background-color: #171717;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: normal;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  display: inline-block;
}

.restart:hover {
  color: #171717 !important;
  background-color: #ffffff;
}

.burger_menu {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  z-index: 10;
}


/* ----------------------------- Main Content ----------------------------- */

.message {
  margin: 30px auto 0;
  text-align: center;
}

.container-one {
  background-color: #171717;
  margin: 30px auto;
  width: 540px;
  height: 540px;
  position: relative;
  padding: 10px;
  border-radius: 40px;
}

.container-two {
  background-color: #171717;
  margin: 30px auto;
  width: 540px;
  height: 540px;
  position: relative;
  padding: 10px;
  border-radius: 40px;
  display: none;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  /* justify-content: space-between; */
}

.flex-item {
  width: 160px;
  height: 160px;
  background-color: #292929;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  line-height: 160px;
  border-radius: 20px;
}

.flex-item-two {
  width: 115px;
  height: 115px;
  background-color: #292929;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  line-height: 115px;
  border-radius: 20px;
}

.flex-item img {
  vertical-align: middle;
}

.flex-item-two img {
  vertical-align: middle;
  width: 80px;
}

.player1, .player2 {
  background-color: #454545;
}

/* --------------------------------- Footer --------------------------------- */

.footer-container {
  width: 540px;
  margin: 0 auto;
  background-color: #171717;
  color: #ffffff;
  border-radius: 40px;
  line-height: 50px;
}

.flex-item-footer {
  width: 160px;
  margin: 10px;
  text-align: center;
}







